
<table>
    <tr>
        @*<td><input type="radio" value="1"  name="Hitch" />正常单</td>
            <td><input type="radio" value="0"  name="Hitch" />故障单</td>*@
        <td><input id="Submit1" type="submit" value="正常单√" onclick="Show1()" class="btn btn-primary" /></td>
        <td><input id="Submit1" type="submit" value="故障单×" onclick="Show2()" class="btn btn-danger" /></td>
        <td><input id="Submit1" type="submit" value="新增车辆+" onclick="location.href='/Admins/AddCarInfo'" class="btn btn-success" /></td>
    </tr>
</table>

<table class="table table-bordered">
    <thead style="background-color:bisque">
        <tr style="text-align:center">
            <th>ID</th>
            <th>订单编号</th>
            <th>用户</th>
            <th>汽车名称</th>
            <th>租车用途</th>
            <th>取车时间</th>
            <th>还车时间</th>
            <th>是否配用司机</th>
            <th>费用</th>
            <th>订单状态</th>
            <th>是否故障</th>
        </tr>
    </thead>
    <tbody id="tb"></tbody>
</table>

@section scripts{
    <script>
        $(function () {
            Show1();
        })

        function Show1() {
            $.ajax({
                url: 'http://localhost:57894/api/Admins/',
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    if (this.Hitch == 1) {
                        $("#tb").empty();
                        $(d).each(function () {
                            var line = '<tr>'
                                + '<td>' + this.OrdersID + '</td>'
                                + '<td>' + this.Oid + '</td>'
                                + '<td>' + this.Name + '</td>' //有待改动
                                + '<td>' + this.CarName + '</td>'
                                + '<td>' + this.Useing + '</td>'
                                + '<td>' + this.StartTime + '</td>'
                                + '<td>' + this.EndTime + '</td>'
                                + '<td>' + (this.Driver == true ? "是" : "否") + '</td>'
                                + '<td>' + this.Price + '</td>'
                                + '<td>' + this.ZT + '</td>'
                                + '<td>' + (this.Hitch == 2 ? "<input id='Button1' type='button' value='报修通过' onclick=UptAgree(" + this.OrdersID + ") />" + '&nbsp;' + "<input id='Button1' type='button' value='有待商议' onclick=UptDisAgree(" + this.OrdersID + ") />" : null)
                                + '&nbsp;' + '</td>'
                                + '</tr>';
                            $("#tb").append(line);
                        })
                    }
                }

            })
        }

        function Show2() {
            $.ajax({
                url: 'http://localhost:57894/api/Admins/',
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    if (this.Hitch == 2) {
                        $("#tb").empty();
                        $(d).each(function () {
                            var line = '<tr>'
                                + '<td>' + this.OrdersID + '</td>'
                                + '<td>' + this.Oid + '</td>'
                                + '<td>' + this.Name + '</td>' //有待改动
                                + '<td>' + this.CarName + '</td>'
                                + '<td>' + this.Useing + '</td>'
                                + '<td>' + this.StartTime + '</td>'
                                + '<td>' + this.EndTime + '</td>'
                                + '<td>' + (this.Driver == true ? "是" : "否") + '</td>'
                                + '<td>' + this.Price + '</td>'
                                + '<td>' + this.ZT + '</td>'
                                + '<td>' + (this.Hitch == 2 ? "<input id='Button1' type='button' value='报修通过' onclick=UptAgree(" + this.OrdersID + ") />" + '&nbsp;' + "<input id='Button1' type='button' value='有待商议' onclick=UptDisAgree(" + this.OrdersID + ") />" : null)
                                + '&nbsp;' + '</td>'
                                + '</tr>';
                            $("#tb").append(line);
                        })
                    }
                }

            })
        }

    </script>
}